:root{
    --red: #EB5757;
    --black: #333333;
    --gray1: #4f4f4f;
    --gray2: #a9a9a9;
    --gray3: #828282;
    --gray4: #bdbdbd;
}

*{box-sizing: border-box;}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    padding: 5vh 8%;
}

@media screen and (min-width: 1440px){
    body {
        padding: 5vh 12%;
    }
}

.global{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.staybar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5vh 0 0 0;
}

.staybar-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--black);
}

@media screen and (max-width:625px){
    .staybar-title{
        font-size: 20px;
    }
}

.staybar-count{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--gray1);
}

/*footer*/
.footer{
    display: flex;
    justify-content: center;
    padding:25px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--gray2);
}