:root{
    --red: #EB5757;
    --black: #333333;
    --gray1: #4f4f4f;
    --gray2: #a9a9a9;
    --gray3: #828282;
    --gray4: #bdbdbd;
}

*{box-sizing: border-box;}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    padding: 5vh 8%;
}