.modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modalContent{
    background-color: #fefefe;
    padding: 5vh 8%;
    width: 100%;
    display: flex;
    gap: 10px;
}

.modalBlockOne{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.modalButtons{
    display: flex;
    border-radius: 16px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.button{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Mulish';
    gap: 1px;
    padding: 5px 15px;
    height: 44px;
    border: none;
    background-color: #ffffff;
}
.buttonTitle{
    font-size: 8px;
    font-weight: 800;
}

.buttonSubtitle{
    font-size: 14px;
    font-weight: 400;
}

.buttonLocation{
    border-radius: 16px 0 0 16px;
}

.button:focus, .active{
    outline: none;
    box-shadow: inset 0 0 1px 1px #333333;
    border-radius: 16px !important;
}

.buttonGuest{
    border-radius: 0 16px 16px 0;
}
.modalBlockTwo{
    width: 25%;
    display: flex;
    justify-content: center;
}
.btnSearch{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 44px;
    padding: 0 15px;
    border-radius: 16px;
    border: none;
    background-color: #EB5757;
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
}
/*Modal List*/
.modalList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5vh;
}