.navbar{
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 625px){
    .navbar{
        flex-direction: column;
        gap: 0.92rem;
    }
}